{erl_opts, [debug_info]}.

{alias, [{check, [xref, dialyzer]}]}.

{deps,
 [{rebar, {git, "https://github.com/erlang/rebar3.git", {tag, "3.18.0"}}}, providers]}.

%% the plugin itself
{project_plugins, [rebar3_proper]}.

%% The PropEr dependency is required to compile the test cases
%% and will be used to run the tests as well.
{profiles,
 [{test,
   [{deps,
     %% hex
     [{proper, "1.4.0"}]}]}]}.

{dialyzer,
 [{warnings, []},
  {get_warnings, true},
  {plt_apps, top_level_deps},
  {plt_extra_apps, [providers]}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

% TODO: I do not want to warn about functions that are referenced in the test code.
{xref_ignores,
 [{optimum_supervision_tree_solver, search_split_vertex, 1},
  {supervision_tree, are_isomorphic, 2},
  {my_lists, sublist_randomly, 1}]}.
