{erl_opts, [debug_info]}.

{alias, [{check, [xref, dialyzer]}]}.

{deps, [{rebar, {git, "https://github.com/erlang/rebar3.git", {tag, "3.18.0"}}}]}.

{dialyzer, [{warnings, []}, {get_warnings, true}, {plt_apps, top_level_deps}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions]}.
